header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

/* Navbar */
.navbar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-navbar {
    height: 40px;
    width: auto;
    display: block;
    position: absolute;
    left: 40px;
    transform: translateY(-40%);
}

.navbar h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.title-nav {
    text-align: end;
}

main {
    padding-top: 44px;
}

/*Sidebar*/
.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #00a86b;
    color: white;
    padding-top: 100px;
    position: fixed;
    left: 0;
    padding: 0;
    transition: width 0.3s ease;
}

ul .nav {
    padding: 200px;
}

/* Cuando está colapsado (mostrando solo iconos) */
.sidebar.collapsed {
    width: 60px;
}

/* Oculta los textos al colapsar */
.sidebar.collapsed .sidebar-text {
    display: none;
}

span.sidebar-text {
    padding-left: 10px;
}

/* Botón de alternar */
.toggle-btn {
    position: absolute;
    top: 20px;
    right: -15px;
    background: #00a86b;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Ajustar navegación */
.sidebar .nav-link {
    font-size: 22px;
    padding: 10px 15px;
    color: white;
}

/* Cambia el color al pasar el mouse */
.sidebar .nav-link:hover {
    background-color: #73b19a;
    border-radius: 5px;
}

/* Ajusta el contenido cuando el sidebar está colapsado */
.container-fluid {
    transition: margin-left 0.3s ease, width 0.3s ease;
    width: calc(100% - 250px); /*resta le ancho del sidebar*/
    margin-left: 250px;
}

.sidebar.collapsed + .container-fluid {
    width: calc(100% - 60px);
    margin-left: 60px;
}

/* Lista de Scripts en Filas */
.script-list {
    padding: 60px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos de cada fila */
.script-item {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Botones */
.run-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

.run-btn i {
    padding-right: 8px;
}

.run-btn:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 5px;
    }
}